#projectmetadiv,
#casestudymetadiv .row {
	margin-bottom: 10px;
}

#projectmetadiv label,
#casestudymetadiv label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold
}

#projectmetadiv .row > input,
#projectmetadiv textarea,
#casestudymetadiv .row > input,
#casestudymetadiv textarea {
	width: 100%;
	padding: 10px;
}

#projectmetadiv select,
#casestudymetadiv select {
	width: 100%;
}