ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit;
    margin-right: inherit
}

ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0
}

ul.tagit li.tagit-choice {
    padding: .2em 18px .2em .5em;
    position: relative;
    line-height: inherit
}

ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none
}

ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0
}

ul.tagit input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none
}