
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1110px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {
}

@media only screen and (max-width : 820px) {
}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {
.menu-top-nav-container,  #phone,  #access, .what-we-do__menu {
	display: none;
}
#logo {
	top: 5px;
	left: 5px;
}
#logo img {
	width: 115px;
	height: auto;
}
#header .wrapper {
	height: 65px;
}
.home #main {
	padding-top: 45px;
}
#main {
	padding-top: 10px;
}
.breadcrumbs {
	display: none;
}
.menu-trigger {
	display: block !important;
}
.three-col,  .seven-col,  .four-col,  .fl h3,  .block-blog .block-blog-title,  .block-blog-featuredimage,  .span5,  .blog-block-4 .row,  .sbm,  .free-stuff .wrapper,  .span7 {
	width: 100%;
}
div#map-canvas {
	width: 100% !important;
	margin-bottom: 25px;
}
.item .button {
	display: block;
}
.sbm {
	text-align: center;
}
.wrapper {
	padding: 0 10px;
}
.bg-grey, .bg-white, .free-stuff, .bg-light-grey {
	padding: 2rem 0;
}
.col {
	margin: 0;
}
.menu-footer-nav-container {
	width: 100%;
	text-align: center;
}
.menu-footer-nav-container ul li {
	float: initial;
	margin-left: 0;
}
/* make nav menu fixed */

.mp-menu {
	position: initial !important;
}
.mp-pusher {
	position: fixed !important;
	z-index: 0;
	width: 100%;
}
.mp-pushed {
	z-index: 9999 !important;
}
/* end make nav menu fixed */

.what-we-do__menu ul li {
	display: block;
	padding: 5px;
}
.grid-item {
	position: relative;
	width: 48%;
	margin: 1% !important;
	height: auto;
}
#strip-client li {
	width: 31%;
	height: auto;
	margin: 1%;
	padding: 4%;
}
#strip-client img,  .half-col img,  .quart-col img {
	width: 100%;
	margin: 0;
}
.quart-col {
	width: 50%;
	min-height: 790px;
}
.offset1 {
	padding-left: 0;
}
}

@media only screen and (max-width : 550px) {
.item.three-col {
	width: 100%;
	margin: 5px 0;
}
.mc-field-group.input-group ul li,  .wpcf7-checkbox .wpcf7-list-item,  .quart-col,  .half-col {
	width: 100%;
}
.quart-col {
	min-height: initial;
}
}

/* Extra Small Devices, Phones */ 

@media only screen and (max-width : 480px) {
.field-row .field {
	width: 100%;
	margin: 0 !important;
}
#strip-client li {
	width: 48%;
}
}

/* Extra Small Devices, Phones */ 

@media only screen and (max-width : 420px) {
.box.three-col img {
	margin: 0 auto;
	display: block;
	width: 100%;
}
.menu-social-nav-container li {
	margin: 0 0.5em;
}
.grid-item {
	width: 98%;
}
}

/* Custom, iPhone Retina */ 

@media only screen and (max-width : 320px) {
}
